*{
  margin: 0 auto; padding:0;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
  text-decoration: none;
  outline:none; border:none;
  transition: all 0.2s ease-out;
}


html{
  font-size: 62.5%;
  overflow-x:hidden;
  scroll-behavior: smooth;
}





header{
  position:fixed;
  top:0; left:0; right:0;
  background-size: cover;
  z-index:10000;
  padding:2rem 7%;
  padding-bottom: 3rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  font-size: 2.5 rem;
  color:#333;
}

header .logo i{
  font-size:20px;
  padding-right:0.5 rem;
  color:#f53b57;
}

header .let{
  margin-left:100px;
  font-size: 20px;
  padding-right: 0.5rem ;
  color:#f53b57
}




.heading{
  text-align: center;
  font-size:2rem;
  color:#f53b57;
  justify-content: space-between;
}

.heading img{
  width:100%;
  height:100px;
}



/*animals section*/
.animals{
  padding:3rem;
}
.animals img{
  width:120px;
  height:140px;
  margin-left:40px;
  margin-top:90px;
  position:relative;
}
.animals img:hover{
  transform:scale(1.4) rotate(5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0,);
}

.animals .heading{
  margin-top:-150px;
  padding-top: 10px;
  border-radius: 1rem;
  border: 0.1rem solid rgb(188,223,193);
  background-color:rgb(188,223,193) ;
  border-width:-50x;;
}
.animals .heading h1{
  margin-top:6px;
  font-size:5rem;
  color:#f53b57;
  text-align: center;
}
.animals .heading h1:hover{
  cursor: pointer;
  font-size: 5.3rem;
}
.animals .heading p{
  font-size:2rem;
  color:#333;
  text-align: center;
  padding-bottom: 20px;;
}
.animals .box-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
.animals h4{
  font-size: 2rem;
  color:darkblue;
  text-align: center;
  padding:2rem;
}

.animals h5{
  font-size: 2rem;
  padding:1rem;
  text-align: center;
  color:hsl(147, 61%, 23%)
}

.animals .box-container .box{
  overflow:hidden;
  width:70px;
  height:35rem;
  flex:1 1 27rem;
  padding:3rem 4rem;
  margin:1rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  border:0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius:1rem;
  text-align:center;
  background-size: cover;
  background-position:center;
  position: relative;
  background-color: rgb(255, 255, 255);
  cursor:pointer;
}

.animals .box-container .box .content{
  padding-left:-20rem;
  padding-bottom: 1.5rem;;
}
.animals .box-container .box .img2{
  margin-left:-40px;
  margin-top:-10px;
  width:260px;
  height:160px;
}

.animals .box-container .box .content h1{
  font-size: 3rem;
  color:black;
  font-family: sans-serif;
  transform: translateY(5rem);
  opacity: 2;
}
.animals .box-container .box .content h1:hover{
  cursor:pointer;
  font-size: 3.4rem;
}
.animals .box-container .box .content h2{
  font-size: 2rem;
  transform: translateY(5rem);
  opacity: 2;
}
.animals .completed{
  justify-content: space-between;
  align-items: center;
}
.animals .completed #comepletedButton3{
  margin-left:59rem;
  font-size: 2rem;
  color:white;
  background-color: #f53b57;
  border-radius: 1rem;
  border:0.1rem solid #333;
  padding:1rem;
}
.animals .completed #comepletedButton3:hover{
  cursor:pointer;
  background-color: aliceblue;
  color:#f53b57;
}
.animals .nextPageBtn #nextPageBtn{
  margin-left:59rem;
  font-size: 2rem;
  color:white;
  background-color: #f53b57;
  border-radius: 1rem;
  border:0.1rem solid #333;
  padding:1rem;
}
.animals .nextPageBtn #nextPageBtn:hover{
  cursor:pointer;
  background-color: aliceblue;
  color:#f53b57;
}


.footer{
  position:relative;
  text-align: center;
  padding:2.5rem 1.5rem;
  font-size:2rem;
  color:#666;
  background: url(images/img-top.png) no-repeat;
  background-size:cover;
}

.footer span{
  color:var(--red);
}

.footer .bakToHome{
  padding: 0 2.6rem;
}

.footer .bakToHome p{
  font-size: 2rem;
  color:#f53b57;
  padding-bottom:2.6rem;
}

.footer .bakToHome #bakToHomeBtn{
  border-radius: 2rem;
  border:0.1rem solid #333;
  padding:1rem;
  background-color: #f53b57;
  color:aliceblue;
}
.footer .bakToHome #bakToHomeBtn:hover{
  cursor:pointer;
  background-color: aliceblue;
  color:#333;
}













@media(max-width:1200px){
  html{
    font-size:55%;
  }

  header{
    padding:1.5rem 3%;
    padding-bottom: 6rem;
  }

  section{
    padding:0 3%;
    padding-top:11rem;
    padding-bottom: 9 rem;
  }



}
@media(max-width:768px){
  #menu-bars{
    display:block;
  }

  header .navbar{
    position:absolute;
    top:70%; right:0; left:0;
    height: calc(100vh - 70%);
    border-top:0.2rem solid #333;
    background-size: cover;
    background-position: center;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    font-size:2.5rem;
    margin:2rem 0;
    display:block;
    text-align:center;
  }

  section .box-container .box{
    text-align: center;
    flex-flow:column;
  }
}

@media(max-width:450px){
  html{
    font-size:50%;
  }
}

